div#map{
 
    width: 75%; 
    height: 90%; 
    border: 1px solid #000;
    float:left;

}
#app-titile{

	text-align: center;
}
div#info{
	
	position: relative;
	width:24%;
	height: 90%;
	border: 1px solid #000;
    	float:right;
    	padding: 3px;

}
div#container{
	
	width:98%;
	height: 100%;
	padding: 1%;

}
textarea
{
width:90%;
height:20%;

}
#submit-button
{

	position: absolute;
	width: 70%;
	right:15%;
	bottom: 5%;

}
